.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20% 10%;
}

.contactSubHeading {
  font-family: "Roboto Mono", serif;
  color: var(--shade_four);
}

.contactMainHeading {
  font-size: xx-large;
  font-weight: bold;
  margin: 22px 0px;
}

.contactBody {
  text-align: center;
}

.btnSayHello {
  font-family: "Roboto Mono", serif;
  background-color: var(--shade_one);
  color:var(--shade_three);
  padding:10px;
  border-radius: 0.3em;
  border:1px solid;
  cursor: pointer;
  margin: 22px 0px;
}

.btnSayHello:hover{
  box-shadow: 3px 3px 0px var(--shade_three);
}

@media (max-width: 490px) {
  .contact {
    margin: 15%;
  }
}