.work {
  margin: 20% 0;
}

.majorProject {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.work > .aboutHeading {
  padding: 0 20%;
}

@media (max-width: 490px) {
  .work {
    margin: 10%;
  }

  .work > .aboutHeading {
    padding: 0 10%;
  }
}